@keyframes Circulate {
    /* notice the only differences are the first rotate() property */

    from {
        left: 250px;
        top: 345px;

        transform:
            /* starting position offset */ rotate(20deg)
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
    to {
        left: 250px;
        top: 345px;

        transform:
            /* full circle rotation: 360 + 20 offset */ rotate(
                380deg
            )
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
}
@keyframes Circulate-1 {
    /* notice the only differences are the first rotate() property */

    from {
        left: 350px;
        top: 345px;

        transform:
            /* starting position offset */ rotate(20deg)
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
    to {
        left: 350px;
        top: 345px;

        transform:
            /* full circle rotation: 360 + 20 offset */ rotate(
                380deg
            )
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
}
@keyframes Circulate-2 {
    /* notice the only differences are the first rotate() property */

    from {
        left: 50px;
        top: 345px;

        transform:
            /* starting position offset */ rotate(60deg)
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-120deg);
    }
    to {
        left: 50px;
        top: 345px;

        transform:
            /* full circle rotation: 360 + 20 offset */ rotate(
                380deg
            )
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
}
@keyframes Circulate-3 {
    /* notice the only differences are the first rotate() property */

    from {
        left: 350px;
        top: 345px;

        transform:
            /* starting position offset */ rotate(60deg)
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-120deg);
    }
    to {
        left: 350px;
        top: 345px;

        transform:
            /* full circle rotation: 360 + 20 offset */ rotate(
                380deg
            )
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
}



@media only screen and (max-width: 1024px) {

.px-1000-hidden {
    display: none
}


  /* For mobile phones: */
 @keyframes Circulate {
    /* notice the only differences are the first rotate() property */

    from {
        left: 20px;
        top: 345px;

        transform:
            /* starting position offset */ rotate(20deg)
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
    to {
        left: 20px;
        top: 345px;

        transform:
            /* full circle rotation: 360 + 20 offset */ rotate(
                380deg
            )
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
}
@keyframes Circulate-1 {
    /* notice the only differences are the first rotate() property */

    from {
        left: 30px;
        top: 345px;

        transform:
            /* starting position offset */ rotate(20deg)
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
    to {
        left: 30px;
        top: 345px;

        transform:
            /* full circle rotation: 360 + 20 offset */ rotate(
                380deg
            )
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
}
@keyframes Circulate-2 {
    /* notice the only differences are the first rotate() property */

    from {
        left: 50px;
        top: 345px;

        transform:
            /* starting position offset */ rotate(60deg)
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-120deg);
    }
    to {
        left: 50px;
        top: 345px;

        transform:
            /* full circle rotation: 360 + 20 offset */ rotate(
                380deg
            )
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
}
@keyframes Circulate-3 {
    /* notice the only differences are the first rotate() property */

    from {
        left: 80px;
        top: 345px;

        transform:
            /* starting position offset */ rotate(60deg)
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-120deg);
    }
    to {
        left: 80px;
        top: 345px;

        transform:
            /* full circle rotation: 360 + 20 offset */ rotate(
                380deg
            )
            /* half circle size + .5px(for precision) */ translate(-150.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
}
}

.anim {
    animation: Circulate 200s infinite linear;
}
.anim-1 {
    animation: Circulate-1 250s infinite linear;
}
.anim-2 {
    animation: Circulate-2 400s infinite linear;
}
.anim-3 {
    animation: Circulate-3 100s infinite linear;
}



.arrow {
    font-size: 22px;
    color: #3f3f3f;
    z-index: 1;
    position: absolute;
    top: 99px;
    left: 7px;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.arrow:after {
    content: "\f124";
    color: #3f3f3f;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 22px;
}
.arrow-1 {
    font-size: 22px;
    color: #3f3f3f;
    z-index: 1;
    position: absolute;
    top: 99px;
    left: 7px;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.arrow-1:after {
    content: "\f124";
    color: #3f3f3f;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 22px;
}
.arrow-2 {
    font-size: 22px;
    color: #3f3f3f;
    z-index: 1;
    position: absolute;
    top: 99px;
    left: 7px;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.arrow-2:after {
    content: "\f124";
    color: #3f3f3f;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 22px;
}
.arrow-3 {
    font-size: 22px;
    color: #3f3f3f;
    z-index: 1;
    position: absolute;
    top: 99px;
    left: 7px;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.arrow-3:after {
    content: "\f124";
    color: #3f3f3f;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 22px;
}

.contain-circle {
    position: relative;
}

svg {
    height: 300px;
    width: 300px;
    stroke: #3f3f3f;
    stroke-width: 0.2pt;
    stroke-dasharray: 0.25 1;
    stroke-dashoffset: 1;
    stroke-linecap: square;
    fill: none;
}


