.top-100 {
  top: -100px;
}

@media (max-width: 768px) {
  .text-4xl, .text-3xl, .text-5xl {
    font-size: 45px;
    line-height: 50px;
    font-weight: 700
  }
}

.rounded-5xl{
  border-radius: 50px
}

.bottom-0 {
  bottom: -50px;
}

/* .accordion-button::after {
  background-size: 0.8rem !important;
  margin-left: 10px;
  margin-top: 6px
} */

.div-box-shadow{
  box-shadow: 0px 89.761px 145.862px rgba(0, 0, 0, 0.05);
}

.weceta-left-20{
  right:-500;
  z-index: 200
}



.main-image {
    position: relative;
    top: 0;
    left: 0;
}

.sub-image-1 {
    width: 20%;
    position: absolute;
    top: 450px;
    left: 550px;
}

.sub-image-2 {
    width: 20%;
    position: absolute;
    top: 220px;
    left: 1050px;
}

.sub-image-3 {
    width: 20%;
    position: absolute;
    top: 160px;
    left: 600px;
}

.sub-image-4 {
    width: 20%;
    position: absolute;
    top: 500px;
    left: 600px;
}


@keyframes anim-loading-pill {
    0% {
        transform: translateY(-25%);
        opacity: 1;
    }
    100% {
        transform: translateY(25%) scale(0.9);
        opacity: 0.9;
    }
}

.loading .loading__pill {
    animation: anim-loading-pill 20050ms ease-in infinite alternate;
}

.loading .loading__pill:nth-last-child(1) {
    animation-delay: -550ms;
}

.loading .loading__pill:not(:last-child) {
    margin-right: 25px;
}

/* body {background: #eee;} */

.swing {
    animation: swing ease-in-out 8s infinite alternate;
    transform-origin: center -20px;
    float: left;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.5); */
}

.swing img {
    /* border: 5px solid #f8f8f8; */
    display: block;
}

/* .swing:after{
content: '';
position: absolute;  
width: 20px; height: 20px;  
border: 1px solid #999;
top: -10px; left: 50%;
z-index: 0;
border-bottom: none;
border-right: none;
transform: rotate(45deg);
} */

/* nail */

/* .swing:before{
content: '';
position: absolute;
width: 5px; height: 5px;
top: -14px;left: 54%;
z-index: 5;
border-radius: 50% 50%;
background: #000;
} */

@keyframes swing {
    0% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

.rotate-r {
  animation: rotation-r 200s infinite linear;
}

@keyframes rotation-r {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate-l {
  animation: rotation-l 200s infinite linear;
}

@keyframes rotation-l {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}